<form (ngSubmit)="login(account)" #loginForm="ngForm">
    <input type="text" placeholder="User" name="user" #user="ngModel" [(ngModel)]="account.user" required>
    <input type="text" placeholder="Password" name="password" #password="ngModel" [(ngModel)]="account.password"
        required>
    <button type="submit">Login</button>
</form>

<div>
    <button [disabled]="isButtonAdmin">Admin</button>
    <button [disabled]="isButtonNV">Nhân viên quèn</button>
</div>

<div>
    <span><a routerLink="/register" routerLinkActive="active">Register</a></span>
    <span><a routerLink="" routerLinkActive="active">Go back</a></span>
</div>
