<div *ngIf="isVisible" id="container">
    <header>
        <div id="header_logo"><span><fa-icon [icon]="icon_house"></fa-icon>NEW WIND RESTAURANT</span></div>
        <div id="header_logout_user">
            <li><a routerLink="[]" routerLinkActive="active"><fa-icon [icon]="icon_question"></fa-icon>Hỗ trợ</a>
            <li><a><fa-icon [icon]="icon_user"></fa-icon>Hello {{displayaccount}}</a>
            </li>
            <li>
                <a routerLink="/trangchu/login" routerLinkActive="active"><fa-icon [icon]="icon_log_out"></fa-icon>LOG
                    OUT</a>
            </li>
        </div>
    </header>
    <div id="container_content_menubar">
        <div id="container_menubar">
            <div id="menubar">
                <li><a (click)="BDK()">Bảng điều khiển</a></li>
                <li><a (click)="DM()">Doanh mục</a></li>
                <li><a>Thức ăn</a></li>
                <li><a (click)="TK()">Thống kê</a></li>
                <li><a>Tài khoản</a></li>
            </div>
        </div>
        <div id="content"><router-outlet></router-outlet></div>
    </div>
</div>
<div *ngIf="!isVisible">
    <router-outlet></router-outlet>
</div>