<p>Login</p>
<form (ngSubmit)="login(account)" #loginForm="ngForm">
    <input type="text" placeholder="User" name="user" #user="ngModel" [(ngModel)]="account.user" required>
    <input type="text" placeholder="Password" name="password" #password="ngModel" [(ngModel)]="account.password">
    <button type="submit">Login</button>
</form>

<div>
    <button [disabled]="isButtonAdmin">Admin</button>
    <button [disabled]="isButtonNV">Nhân viên quèn</button>
    <a routerLink="/trangchu/register" routerLinkActive="active">Register</a>
</div>
<router-outlet></router-outlet>